<section id="content">
    <h2 class="up">Categories</h2>
    <div id="accordion" class="accordion-container">

        <article class="content-entry">
            <h4 class="article-title">
                <i></i>Academics and Professional</h4>
            <div class="accordion-content">
                <p>
                    <a href="http://192.168.0.4:8000/commerce-books" class="acdn">Commerce Books</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/computer-internet-books" class="acdn">Computer &amp; Internet Books</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/engineering-books" class="acdn">Engineering Books</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/law-books" class="acdn">Law Books</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/makaut-wbut-books" class="acdn">MAKAUT(WBUT) Books</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/management-books" class="acdn">Management Books</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/medical-books" class="acdn">Medical Books</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/science-books" class="acdn">Science Books</a>
                </p>
            </div>
        </article>
        <article class="content-entry">
            <h4 class="article-title">
                <i></i>Business &amp; Managment</h4>
            <div class="accordion-content">
                <p>
                    <a href="http://192.168.0.4:8000/accounting" class="acdn">Accounting</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/business-economics" class="acdn">Business &amp; Economics</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/finance" class="acdn">Finance</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/management" class="acdn">Management</a>
                </p>
            </div>
        </article>
        <article class="content-entry">
            <h4 class="article-title">
                <i></i>Children &amp; Young Adult</h4>
            <div class="accordion-content">
                <p>
                    <a href="http://192.168.0.4:8000/action-adventure" class="acdn">Action &amp; Adventure</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/biographical" class="acdn">Biographical</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/children-books" class="acdn">Children Books</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/fantasy-horror" class="acdn">Fantasy &amp; Horror</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/literature-collections" class="acdn">Literature Collections</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/mystery-detective" class="acdn">Mystery &amp; Detective</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/religious" class="acdn">Religious</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/science-fiction" class="acdn">Science Fiction</a>
                </p>
            </div>
        </article>
        <article class="content-entry">
            <h4 class="article-title">
                <i></i>Entrance Exam</h4>
            <div class="accordion-content">
                <p>
                    <a href="http://192.168.0.4:8000/banking-exams" class="acdn">Banking Exams</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/civil-services-exams" class="acdn">Civil Services Exams</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/defence-services-exams" class="acdn">Defence Services Exams</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/engineering-exams" class="acdn">Engineering Exams</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/government-exams" class="acdn">Government Exams</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/international-exams" class="acdn">International Exams</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/law-exams" class="acdn">Law Exams</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/management-exams" class="acdn">Management Exams</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/medical-exams" class="acdn">Medical Exams</a>
                </p>
            </div>
        </article>
        <article class="content-entry">
            <h4 class="article-title">
                <i></i>Makaut</h4>
            <div class="accordion-content">
                <p>
                    <a href="http://192.168.0.4:8000/makaut-b-tech" class="acdn">MAKAUT (B.Tech)</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/makaut-management" class="acdn">MAKAUT (Management)</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/matrix-polytechnic" class="acdn">MATRIX (Polytechnic)</a>
                </p>
            </div>
        </article>
        <article class="content-entry">
            <h4 class="article-title">
                <i></i>School Books</h4>
            <div class="accordion-content">
                <p>
                    <a href="http://192.168.0.4:8000/academic-school-books" class="acdn">Academic School Books</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/olympiads-scholarship-exams" class="acdn">Olympiads &amp; Scholarship Exams</a>
                </p>
                <p>
                    <a href="http://192.168.0.4:8000/school-text-books" class="acdn">School Text-Books</a>
                </p>
            </div>
        </article>




    </div>
    <!--/#accordion-->

</section>